@import "colors.less";
.calcblock{
	background:@body-light-grey;
	.mainBoxShadow;
	max-width:790px;

	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
	border-radius:@border-radius/2;
}
.calcblock .titlebar{
	height:28px;
	.calcWidth(~"100%");
	overflow-y:hidden;
	border-radius:@border-radius-small @border-radius-small 0 0;
	
	vertical-align:middle;
	font-family: sans-serif;
	font-size:14pt;
	color: @text-unselected;
	border-bottom:1px outset @background-unselected;
	background-color:@background-unselected;
}
.calcblock .titlebar.selected{
	background: @background-selected;
	color: @text-selected;
}
.calcblock:hover .titlebar{
	//background-color: @background-unselected-highlight;
}
.calcblock:hover .titlebar.selected{
	//background-color: @background-selected-highlight;
}
.calcblock .content{
	padding:10px;
}
.cbbutt {
	float:left;
	width:20px;
	height:20px;
	margin:4px;
	border-radius:5px;
	display:inline-block;
	margin-right:10px;
}
.calcblock .titlebar .minbut{
	.cbbutt;
	background-color:#6ace40;
	
}
.calcblock .titlebar .closebut {
	.cbbutt;
	background-color:#fa6f6f;
}
.calcblock .titlebar .minbut:hover{
	background-color:#7af28b;
	background-image:url("../img/minbutton.png");
}
.calcblock .titlebar .closebut:hover{
	background-color:#fed0db;
	background-image:url("../img/closebutton.png");
}

.calcblock .titlebar .titletext {
	float:left;
	
	margin-top:auto;
	margin-bottom:auto;

	letter-spacing:2px;
	font-size:14px;
	line-height:28px;
}