.mainBoxShadow {
  box-shadow: 2px 2px 6px #001b1d;
}
.nTable {
  border-right: 1px solid #3f8184;
  border-top: 1px solid #3f8184;
  width: 100%;
  max-width: 21cm;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 0;
  text-align: left;
  font-family: sans-serif;
  table-layout: fixed;
  empty-cells: show;
}
.nTable td {
  padding: 3px 5px;
  border-left: 1px solid #3f8184;
  border-bottom: 1px solid #3f8184;
  font-size: 0.8em;
  white-space: nowrap;
  overflow: hidden;
}
.nTable button {
  margin: 0px;
}
.nTable .title {
  font-size: 1.2em;
  font-weight: bold;
  font-family: sans-serif;
  border-bottom: 2px solid black;
}
.nTable .heading {
  color: #901039;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
}
.nTable tr {
  margin: 0;
  padding: 0;
}
.nTable input {
  width: 100%;
  min-width: 1cm;
  height: 20px;
  border: 1px solid grey;
  margin: 0;
}
.calcblock {
  background: #e8e7dd;
  box-shadow: 2px 2px 6px #001b1d;
  max-width: 790px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.calcblock .titlebar {
  height: 20px;
  width: -webkit-calc(100% - 8px);
  width: -moz-calc(100% - 8px);
  width: calc(100% - 8px);
  padding: 4px;
  font-family: sans-serif;
  font-size: 14pt;
  color: #893651;
  background-color: #ffdee8;
}
.calcblock .titlebar.selected {
  background: #f7e48b;
  color: #185c94;
}
.calcblock:hover .titlebar {
  background-color: #ffecff;
}
.calcblock:hover .titlebar.selected {
  background-color: #fffbd8;
}
.calcblock .content {
  padding: 10px;
}
.cbbutt {
  width: 20px;
  height: 100%;
  border-radius: 5px;
  display: inline-block;
  margin-right: 10px;
}
.calcblock .titlebar .minbut {
  width: 20px;
  height: 100%;
  border-radius: 5px;
  display: inline-block;
  margin-right: 10px;
  background-color: #6ace40;
}
.calcblock .titlebar .closebut {
  width: 20px;
  height: 100%;
  border-radius: 5px;
  display: inline-block;
  margin-right: 10px;
  background-color: #fa6f6f;
}
.calcblock .titlebar .minbut:hover {
  background-color: #7af28b;
  background-image: url("../img/minbutton.png");
}
.calcblock .titlebar .closebut:hover {
  background-color: #fed0db;
  background-image: url("../img/closebutton.png");
}
.maintab {
  font-family: sans-serif;
  color: #893651;
  background: #ffdee8;
  display: inline-block;
  text-align: center;
  padding: 4px;
  font-size: 14pt;
  border-radius: 5px 5px 0 0;
  height: -webkit-calc(100% - 8px);
  height: -moz-calc(100% - 8px);
  height: calc(100% - 8px);
  cursor: pointer;
  margin-left: 10px;
  margin-right: 0;
  box-shadow: 2px 2px 6px #001b1d;
}
.maintab:hover {
  background: #ffecff;
  color: #b75f7b;
  box-shadow: 1px 1px 4px #001b1d;
}
.maintab.selected {
  background: #f7e48b;
  color: #185c94;
}
.maintab.selected:hover {
  background: #fffbd8;
  color: #5e79ba;
}
#tab0,
#tab1,
#tab2,
#tab3 {
  display: none;
  overflow-y: scroll;
  padding: 10px;
  height: -webkit-calc(100% - 20px);
  height: -moz-calc(100% - 20px);
  height: calc(100% - 20px);
  width: -webkit-calc(100% - 20px);
  width: -moz-calc(100% - 20px);
  width: calc(100% - 20px);
  background: #dad9d0;
  box-shadow: inset 1px 1px 10px #00363a;
}
#tab1 {
  background-image: url('/img/paperlines.png');
  background-attachment: local;
  line-height: 30px;
  max-width: 20cm;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1cm;
}
#tab1 h2 {
  margin: 13px;
}
#tab1 p {
  margin: 0;
  padding: 0px;
  margin-bottom: 30px;
}
body {
  background: #dad9d0;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: sans-serif;
  color: #185c94;
  margin: 0;
  text-align: center;
}
#leftbar,
#topbar,
#bottombar,
#mainbar {
  box-shadow: 2px 2px 6px #001b1d;
  position: fixed;
  margin: 10px;
  background: #e8e7dd;
  overflow: hidden;
}
#leftbar {
  width: 260px;
  height: -webkit-calc(100% - 40px);
  height: -moz-calc(100% - 40px);
  height: calc(100% - 40px);
  padding: 10px;
  top: 0;
  left: 0;
  border-radius: 5px;
}
#topbar {
  width: -webkit-calc(100% - 280px - 20px);
  width: -moz-calc(100% - 280px - 20px);
  width: calc(100% - 280px - 20px);
  right: 0;
  top: 0;
  height: 30px;
  padding: 0;
  padding-top: 10px;
  margin-top: 0px;
  z-index: 400;
  background: none;
  box-shadow: none;
}
#mainbar {
  width: -webkit-calc(100% - 280px - 50px);
  width: -moz-calc(100% - 280px - 50px);
  width: calc(100% - 280px - 50px);
  height: -webkit-calc(100% - 50px - 50px - 1px);
  height: -moz-calc(100% - 50px - 50px - 1px);
  height: calc(100% - 50px - 50px - 1px);
  right: 0;
  bottom: 30px;
  padding: 10px;
  border-top: 1px solid #dad9d0;
  border-radius: 0;
}
#bottombar {
  width: -webkit-calc(100% - 280px - 50px);
  width: -moz-calc(100% - 280px - 50px);
  width: calc(100% - 280px - 50px);
  height: 25px;
  right: 0;
  bottom: 0;
  padding: 2px 10px 2px 10px;
  border-top: 1px solid #dad9d0;
  border-radius: 0 0 5px 5px;
  font-family: sans-serif;
  color: #272a44;
}
#logo {
  width: -webkit-calc(100% - 20px);
  width: -moz-calc(100% - 20px);
  width: calc(100% - 20px);
  padding: 10px;
  border-radius: 5px;
  background-color: #f7e48b;
}
#logo,
#topbar,
#bottombar {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
#leftbarcontent {
  overflow-y: scroll;
  width: 100%;
  height: -webkit-calc(100% - 84px);
  height: -moz-calc(100% - 84px);
  height: calc(100% - 84px);
}
