
/*Scheme ID: 1E32lsOsOFfFf*/
body{
	color:042e50;
	background-color:#DAD9D0;
	padding:0;
	margin:0;
}

h1,h2,h3,h4 {
	font-family: sans-serif;
	color: #185c94;
	margin-top:0px;
}

a{
	
	color:#a33659;
}
a:visited{
	color:#ad5874;
}

#infobox{
	width:100%;
}
#leftbar, #topbar, #bottombar, #mainspace{
	position:fixed;
	margin: 3mm;
	padding: 1mm;
	box-shadow: 1px 1px 4px #2F2F29;
	background: linear-gradient(to bottom, #eaeaea 0%,#bcbcbc 100%);
	background: #e8e7dd;
}
#leftbar{
	width:70mm;
	height:-webkit-calc(100% - 8mm);
	top:0;
	left:0;
	overflow-y:scroll;
}
#topbar{
	width: -webkit-calc(100% - 83mm);
	height: 1cm;
	right:0;
	top:0;
	font-family: sans-serif;
	font-size: 5mm;
	background: #DFD462;
}
#mainspace{
	width: -webkit-calc(100% - 83mm);
	height: -webkit-calc(100% - 30mm);
	bottom:7mm;
	right:0;
	overflow-y:scroll;
}
#bottombar{
	width: -webkit-calc(100% - 83mm);
	height: 5mm;
	right:0;
	bottom:0;
	font-family:sans-serif;
	color:#5D88AC
}



table{
	font-size:inherit;
	padding:0;
	margin:0;
}
tr{
	font-size:inherit;
	padding:0;
	margin:0;
}
td{
	margin:0;
	padding:0;
}

div .worksheet{
	margin:2mm;
	padding:2mm;
	border:1px solid black;
}









