
/*Scheme ID: 1E32lsOsOFfFf*/
body{
	color:042e50;
	background-color:#DAD9D0;
	padding:0;
	margin:0;
}

h1,h2,h3,h4 {
	font-family: sans-serif;
	color: #185c94;
	margin-top:0px;
	text-shadow: -1px 0px 1px #000, 1px 1px 1px white;
}

a{
	
	color:#a33659;
}
a:visited{
	color:#ad5874;
}

#leftbar, #topbar, #bottombar, #mainspace{
	position:fixed;
	margin: 3mm;
	padding: 1mm;
	box-shadow: 1px 1px 4px #2F2F29;
	background: linear-gradient(to top, #AAAAAA 0%,#e8e7dd 50%);
	background: #e8e7dd;
}
#leftbar{
	width:70mm;
	height:-webkit-calc(100% - 8mm);
	height:-moz-calc(100% - 8mm);
	top:0;
	left:0;
	overflow-y:scroll;
}
#topbar{
	width: -webkit-calc(100% - 83mm);
	width: -moz-calc(100% - 83mm);
	height: 1cm;
	right:0;
	padding-bottom:0;
	top:0;
	font-family: sans-serif;
	background: #DFD462;
}
#mainspace{
	width: -webkit-calc(100% - 83mm);
	width: -moz-calc(100% - 83mm);
	height: -webkit-calc(100% - 30mm);
	height: -moz-calc(100% - 30mm);
	bottom:7mm;
	right:0;
	overflow-y:scroll;
}
#bottombar{
	width: -webkit-calc(100% - 83mm);
	width: -moz-calc(100% - 83mm);
	height: 5mm;
	right:0;
	bottom:0;
	font-family:sans-serif;
	color:#5D88AC;
}



.maintab {
	background-color: #EFE573;
	display:inline-block;
	text-align:center;
	font-size:14pt;
	text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	border-radius:1.5mm 1.5mm 0 0;
	height:-webkit-calc(100% - 4mm - 2px);
	height:-moz-calc(100% - 4mm - 2px);
	padding:1mm;
	cursor:pointer;
	margin-right:2mm;
	color: #6E0426;
	border: 2px outset #F6ee9c;
	border-bottom:none;
}
.maintab.selected{
	background-color: #FFF795;
	color: #893651;
}
.maintab:hover {
	background-color: #FFFAAA;
	text-shadow: 0px 0px 5px rgba(255,255,255,0.8);
}










