
.nTable{
	border-right:1px solid green;
	border-top:1px solid green;
	width:100%;
	border-spacing:0;
	text-align:left;
	font-family:sans-serif;
}

.nTable td{
	margin:2px;
	padding:5px;
	border-left:1px solid green;
	border-bottom:1px solid green;
	font-size:0.8em;
}


.nTable .title{
	font-size:1.2em;
	font-weight:bold;
	font-family:sans-serif;
	border-bottom:2px solid black;
}

.nTable .heading{
	font-weight:bold;
	font-family:sans-serif;
	text-align:center;
}

.nTable tr{
	margin:0;
	padding:0;
}


.nTable thead{
	font-family:sans-serif;
	font-size: 1.3em;
	background-color:#CCCCCC;
}


.nTable button{
	margin:0;
	width:20px;
	padding:0;
}


.nTable input{
	width:100%;
	min-width:1cm;
	height:20px;
	border:1px solid grey;
	margin:0;
}


.nTable input:invalid{
	color:darkorange;
	border-color:orange;
}
.nTable input:focus{
	background:#FEFEDD;
	/*border:1px solid yellow;*/
	outline:1px solid orange;
}
