<table class="nTable">
	<tr><td>Rectangular</td><td>			<input type="radio" name="beamtype" id="beamtype1" checked/></td></tr>
	<tr><td>T-Beam</td><td>					<input type="radio" name="beamtype" id="beamtype2" /></td></tr>
	<tr><td>T-Beam cast into slab</td><td>	<input type="radio" name="beamtype" id="beamtype4" /></td></tr>
	<tr><td>Freeform</td><td>				<input type="radio" name="beamtype" id="beamtype3" /></td></tr>
</table>
<br />
<table class="nTable">
	<tr><td>Depth</td><td><input type="text" value="D" disabled /> </td><td><select name="select" id="select">
	  <option>known value</option>
	  <option>estimate value</option>
	  <option selected>use symbol</option>
	  <option>evaluate symbol</option>
	</select></td></tr>

	<tr><td>Web-Breadth</td><td> <input type="text"  value="500 mm"/></td> <td><select name="select" id="select1">
	  <option selected>known value</option>
	  <option>estimate value</option>
	  <option>use symbol</option>
	  <option>evaluate symbol</option>
	</select></td></tr>

	<tr><td>Flange Breadth</td> <td><input type="text" disabled/></td> <td><select name="select" id="select2" disabled>
	  <option>known value</option>
	  <option>estimate value</option>
	  <option>use symbol</option>
	  <option>evaluate symbol</option>
	</select></td></tr>
</table>