
.InputTable{
	border:1px solid black;
	width:100%;
}

.InputTable td{
	margin:0;
	padding:0;
	text-align:center;
}

.InputTable th{
	font-family:sans-serif;
	padding-left:2mm;
	text-align:center;
}

.InputTable button{
	margin:0;
	width:1cm;
}
.InputTable input[type=number]{
	width:2cm;
	margin:0;
}


.InputTable .InputTableTitle{
	font-size:1.5em;
	text-align:center;
}